#root {
  width: 100%;
  min-height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

/* Temporary */
/* overwrite ant design card padding */
.ant-card-body {
  padding: 12px !important;
}
