@import "/src/styles/variables";

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include max-width(lg) {
    grid-template-columns: 1fr;
    max-width: 100%;
    overflow: scroll;
  }
}
